.expo/
dist/
web-build/
expo-env.d.ts

android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

.metro-health-check*

.jestcache/

npm-debug.*
yarn-debug.*
yarn-error.*

.stryker-tmp/
reports/

doctor-report.json
